<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic UT2 Hola Mundo Adolfo Morales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ionic UT2 Hola Mundo Adolfo Morales</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Pulsa "+" para crear la palabra "Hola Mundo"</strong>
    <br>    
    <br>        
      <ion-button (click)="crearHolaMundo()">+</ion-button>
      <div class="holamundo">{{ divHolaMundo }}</div>        
  </div>
</ion-content>
